In [72]:
import numpy as np
import pandas as pd

In [22]:
courses = pd.read_csv('course.csv', encoding='latin1')

In [23]:
courses.head()

,Unnamed: 0,Title,URL,Short Intro,Category,Sub-Category,Course Type,Language,Subtitle Languages,Skills,...,Course Short Intro,Weekly study,Premium course,What's include,Rank,Created by,Program,Number of ratings,Price,COURSE CATEGORIES
0,0,Machine Learning Specialization,https://www.coursera.org/specializations/machi...,#BreakIntoAI with Machine Learning Specializat...,Data Science,Machine Learning,Specialization,English,Subtitles: English,"Decision Trees, Artificial Neural Network, Log...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,Introduction to Data Science Specialization,https://www.coursera.org/specializations/intro...,Launch your career in data science. Gain found...,Data Science,Data Analysis,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Relational Database Management S...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,Data Science Fundamentals with Python and SQL ...,https://www.coursera.org/specializations/data-...,Build the Foundation for your Data Science car...,Data Science,Data Analysis,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Github, Python Programming, Jupy...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,Key Technologies for Business Specialization,https://www.coursera.org/specializations/key-t...,Get Ahead with Key Business Technologies. Gain...,Business,Business Essentials,Specialization,English,"Subtitles: English, Arabic, French, Portuguese...","Data Science, Artificial Intelligence (AI), Bu...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,Deep Learning Specialization,https://www.coursera.org/specializations/deep-...,Become a Machine Learning expert. Master the f...,Data Science,Machine Learning,Specialization,English,"Subtitles: English, Chinese (Traditional), Ara...","Artificial Neural Network, Convolutional Neura...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
courses = courses[['Category','Sub-Category','Skills']]

In [25]:
courses.head()

,Category,Sub-Category,Skills
0,Data Science,Machine Learning,"Decision Trees, Artificial Neural Network, Log..."
1,Data Science,Data Analysis,"Data Science, Relational Database Management S..."
2,Data Science,Data Analysis,"Data Science, Github, Python Programming, Jupy..."
3,Business,Business Essentials,"Data Science, Artificial Intelligence (AI), Bu..."
4,Data Science,Machine Learning,"Artificial Neural Network, Convolutional Neura..."

In [26]:
courses.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8084 entries, 0 to 8083
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      2811 non-null   object
 1   Sub-Category  2811 non-null   object
 2   Skills        2912 non-null   object
dtypes: object(3)
memory usage: 189.6+ KB

In [29]:
courses.isnull().sum()

Category        0
Sub-Category    0
Skills          0
dtype: int64

In [28]:
courses.dropna(inplace=True)

In [30]:
courses.head()

,Category,Sub-Category,Skills
0,Data Science,Machine Learning,"Decision Trees, Artificial Neural Network, Log..."
1,Data Science,Data Analysis,"Data Science, Relational Database Management S..."
2,Data Science,Data Analysis,"Data Science, Github, Python Programming, Jupy..."
3,Business,Business Essentials,"Data Science, Artificial Intelligence (AI), Bu..."
4,Data Science,Machine Learning,"Artificial Neural Network, Convolutional Neura..."

In [31]:
courses.shape

(2811, 3)

In [32]:
skills_split = courses['Skills'].str.split(',', expand=True)

In [43]:
skills_split.dropna(axis=1, how='any', inplace=True)

In [45]:
skills_split.shape

(2811, 3)

In [46]:
for i in range(skills_split.shape[1]):
    skills_split.rename(columns={i: f"skill{i+1}"}, inplace=True)

In [47]:
courses = pd.concat([courses, skills_split], axis=1)

In [48]:
courses.head()

,Category,Sub-Category,Skills,skill1,skill2,skill3
0,Data Science,Machine Learning,"Decision Trees, Artificial Neural Network, Log...",Decision Trees,Artificial Neural Network,Logistic Regression
1,Data Science,Data Analysis,"Data Science, Relational Database Management S...",Data Science,Relational Database Management System (RDBMS),Cloud Databases
2,Data Science,Data Analysis,"Data Science, Github, Python Programming, Jupy...",Data Science,Github,Python Programming
3,Business,Business Essentials,"Data Science, Artificial Intelligence (AI), Bu...",Data Science,Artificial Intelligence (AI),Business
4,Data Science,Machine Learning,"Artificial Neural Network, Convolutional Neura...",Artificial Neural Network,Convolutional Neural Network,Tensorflow

In [49]:
courses.drop_duplicates(inplace=True)

In [50]:
courses.head()

,Category,Sub-Category,Skills,skill1,skill2,skill3
0,Data Science,Machine Learning,"Decision Trees, Artificial Neural Network, Log...",Decision Trees,Artificial Neural Network,Logistic Regression
1,Data Science,Data Analysis,"Data Science, Relational Database Management S...",Data Science,Relational Database Management System (RDBMS),Cloud Databases
2,Data Science,Data Analysis,"Data Science, Github, Python Programming, Jupy...",Data Science,Github,Python Programming
3,Business,Business Essentials,"Data Science, Artificial Intelligence (AI), Bu...",Data Science,Artificial Intelligence (AI),Business
4,Data Science,Machine Learning,"Artificial Neural Network, Convolutional Neura...",Artificial Neural Network,Convolutional Neural Network,Tensorflow

In [52]:
courses.shape

(1724, 6)

In [53]:
# Allow the person to input their top 3 skills
top_skills = []
for i in range(3):
    skill = input(f"Enter skill {i+1}: ")
    top_skills.append(skill)

print("Top skills entered by the person:", top_skills)

Enter skill 1: Decision Trees
Enter skill 2: Artificial Neural Network
Enter skill 3: Logistic Regression
Top skills entered by the person: ['Decision Trees', 'Artificial Neural Network', 'Logistic Regression']

In [54]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [55]:
person_skills = ', '.join(top_skills)

In [59]:
courses = courses.append({'skills': person_skills}, ignore_index=True)

C:\Users\msbha\AppData\Local\Temp\ipykernel_19748\1113399515.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  courses = courses.append({'skills': person_skills}, ignore_index=True)

In [68]:
vectorizer = CountVectorizer()
skills_matrix = vectorizer.fit_transform(courses['skills'])

In [67]:
courses.dropna(subset=['skills'], inplace=True)

In [69]:
cosine_sim = cosine_similarity(skills_matrix[:-1], skills_matrix[-1])

In [70]:
most_similar_index = cosine_sim.argmax()

In [71]:
recommended_category = courses.loc[most_similar_index, 'Category']
recommended_subcategory = courses.loc[most_similar_index, 'Sub-Category']

print("Recommended Category:", recommended_category)
print("Recommended Subcategory:", recommended_subcategory)

Recommended Category: nan
Recommended Subcategory: nan