In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('course.csv', encoding='latin-1', usecols=['Category','Sub-Category','Skills'], dtype={'Category': 'str', 'Sub-Category': 'str','Skills':'str'})

In [3]:
df.head()

,Category,Sub-Category,Skills
0,Data Science,Machine Learning,"Decision Trees, Artificial Neural Network, Log..."
1,Data Science,Data Analysis,"Data Science, Relational Database Management S..."
2,Data Science,Data Analysis,"Data Science, Github, Python Programming, Jupy..."
3,Business,Business Essentials,"Data Science, Artificial Intelligence (AI), Bu..."
4,Data Science,Machine Learning,"Artificial Neural Network, Convolutional Neura..."

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8084 entries, 0 to 8083
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Category      2811 non-null   object
 1   Sub-Category  2811 non-null   object
 2   Skills        2912 non-null   object
dtypes: object(3)
memory usage: 189.6+ KB

In [5]:
df.isnull().sum()

Category        5273
Sub-Category    5273
Skills          5172
dtype: int64

In [6]:
df.dropna(inplace=True)

In [7]:
df.shape

(2811, 3)

In [8]:
df['Skills'] = df['Skills'].str.split(',').apply(lambda x: ','.join(x[:3]))

In [9]:
df.head()

,Category,Sub-Category,Skills
0,Data Science,Machine Learning,"Decision Trees, Artificial Neural Network, Log..."
1,Data Science,Data Analysis,"Data Science, Relational Database Management S..."
2,Data Science,Data Analysis,"Data Science, Github, Python Programming"
3,Business,Business Essentials,"Data Science, Artificial Intelligence (AI), Bu..."
4,Data Science,Machine Learning,"Artificial Neural Network, Convolutional Neura..."

In [10]:
# Assuming df is your DataFrame containing the dataset
first_row_skills = df.loc[65, 'Skills']
print(first_row_skills)

Website Wireframe, strategy, User Interface Design (UI Design)

In [11]:
import pandas as pd
from sklearn.preprocessing import MultiLabelBinarizer
from sklearn.neighbors import KNeighborsClassifier

In [12]:
df['Skills'] = df['Skills'].fillna('')


# Apply one-hot encoding to the 'Skills' column
mlb = MultiLabelBinarizer()
skills_encoded = pd.DataFrame(mlb.fit_transform(df['Skills'].str.split(',')), columns=mlb.classes_)

# Concatenate the encoded skills with the original DataFrame
df_encoded = pd.concat([df[['Category', 'Sub-Category']], skills_encoded], axis=1)

In [13]:
# Define features (X) and target variable (y)
X = df_encoded.drop(['Category', 'Sub-Category'], axis=1)
y = df_encoded[['Category', 'Sub-Category']]  # Concatenate category and subcategory

# Initialize and train the KNN model
knn_model = KNeighborsClassifier(n_neighbors=5)  # You can adjust the number of neighbors (K)
knn_model.fit(X, y)

KNeighborsClassifier()

In [20]:
def predict_category(input_skills):
    # Preprocess input skills
    input_skills = input_skills.split(',')
    print(input_skills)
    # Apply one-hot encoding to input skills
    input_skills_encoded = mlb.transform([input_skills])
    
    # Make prediction using the trained model
    predicted_category_subcategory = knn_model.predict(input_skills_encoded)
    
    return predicted_category_subcategory[0]

# Example usage:
input_skills = 'Website Wireframe,strategy,User Interface Design (UI Design)'
predicted_category_subcategory = predict_category(input_skills)
print("Predicted Category:", predicted_category_subcategory[0])
print("Predicted Subcategory:", predicted_category_subcategory[1])

['Website Wireframe', 'strategy', 'User Interface Design (UI Design)']
Predicted Category: Arts and Humanities
Predicted Subcategory: Music and Art

C:\Users\msbha\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
C:\Users\msbha\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)

In [24]:
def predict_category_from_skills():
    # Initialize an empty list to store the user's input skills
    input_skills = []
    
    # Prompt the user to enter the first skill
    skill1 = input("Enter your first skill: ")
    input_skills.append(skill1)
    
    # Prompt the user to enter the second skill
    skill2 = input("Enter your second skill: ")
    input_skills.append(skill2)
    
    # Prompt the user to enter the third skill
    skill3 = input("Enter your third skill: ")
    input_skills.append(skill3)
    
    # Convert the list of skills to a single string separated by commas
#     input_skills_str = ','.join(input_skills)
#     print(input_skills_str)
#     input_skills = input_skills.split(',')
    # Apply one-hot encoding to input skills
    try:
        input_skills_encoded = mlb.transform([input_skills])
    except ValueError as e:
        print("Error:", e)
        return
    
    # Make prediction using the trained model
    predicted_category_subcategory = knn_model.predict(input_skills_encoded)
    
    # Print the predicted category
    print("Predicted Category:", predicted_category_subcategory[0])
    
    # If the model predicts both category and subcategory, print the subcategory as well
    if predicted_category_subcategory.shape[1] > 1:
        print("Predicted Subcategory:", predicted_category_subcategory[0][1])
    else:
        print("Subcategory prediction not available.")

# Call the function to make a prediction based on user input
predict_category_from_skills()

Enter your first skill: Website Wireframe
Enter your second skill: strategy
Enter your third skill: User Interface Design (UI Design)
Predicted Category: ['Arts and Humanities' 'Music and Art']
Predicted Subcategory: Music and Art

C:\Users\msbha\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(
C:\Users\msbha\anaconda3\lib\site-packages\sklearn\neighbors\_classification.py:228: FutureWarning: Unlike other reduction functions (e.g. `skew`, `kurtosis`), the default behavior of `mode` typically preserves the axis it acts along. In SciPy 1.11.0, this behavior will change: the default value of `keepdims` will become False, the `axis` over which the statistic is taken will be eliminated, and the value None will no longer be accepted. Set `keepdims` to True or False to avoid this warning.
  mode, _ = stats.mode(_y[neigh_ind, k], axis=1)